<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Get-it</title>
<link rel="stylesheet" href="{{ url_for('static', filename='getit.css') }}">
</head>
<body>

<div class="header">
  <img src="{{ url_for('static', filename='img/logo-getit.png') }}" alt="Logo Get-it">
  <p>Como o Post-it, mas com outro verbo</p>
</div>



<form action="/edit/{{ note.id }}" method="POST">
  <label for="titulo">Título</label>
  <input id="titulo" type="text" name="titulo" value="{{ note.titulo }}" />
  <label for="detalhes">Detalhes</label>
  <input id="detalhes" name="detalhes" value="{{ note.detalhes }}" />
  <input type="submit" value="Salvar" />
  <button type="button" name="edit_cancel" onclick="window.location.href='/'">Cancelar</button>
</form>
  

</body>
</html>